@import "mixins";

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    //!Start Section
    #startGameSection>* {
        margin: 7vmin auto !important;
    }

    #startGameSection {
        div#title {
            @include size(66vmin, 65vmin);

            span {
                @include text(15vmin, center);
            }
        }

        button.startBtn {
            @include resetButton();
            @include size(55vmin, 12vmin);
            margin: 1rem auto;
            gap: 2rem;
        }
    }

    //!Gameplay Section
    #gameplaySection {
        gap: 3rem;
        #scoreboardContainer {
            .neothic {
                @include text(15vmin);
            }
    
            .roboto {
                @include text(3vmin);
                font-weight: 300;
            }
        }
    
        div#gameboard {
            @include size(78vmin, 78vmin);
        }
    }    
}

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {

    //!Nav
    nav {
        @include flex(row, space-between, center);
        align-self: stretch;

        div#backBtn {
            ion-icon {
                @include text(7.5vmin, center);
            }
        }

        div#darkModeToggle {
            @include size(10vmin, 5vmin);

            div#toggleCircle {
                @include size(4.8vmin, 4.8vmin);

                ion-icon {
                    @include text(3.5vmin);
                }
            }
        }
    }

    //!Start Section
    #startGameSection>* {
        margin: 3vmin auto !important;
    }

    #startGameSection {

        div#title {
            @include size(45vmin, 45vmin);
            span {
                @include text(13vmin, center);
            }
        }

        button.startBtn {
            @include resetButton();
            @include size(38vmin, 9vmin);
            margin: 2rem auto;
            ion-icon {
                @include text(5vmin);
            }
        }
    }

    //!Gameplay Section
    #gameplaySection {
        gap: 3rem;
        #scoreboardContainer {
            .neothic {
                @include text(10vmin);
            }
    
            .roboto {
                @include text(2vmin);
            }

            .playerContainer {
                @keyframes whoseTurnAnimation {
                    0% {
                        transform: translateY(-180%);
                    }
    
                    100% {
                        transform: translateY(-200%);
                    }
    
                }
            }
        }
    
        div#gameboard {
            @include size(65vmin, 65vmin);
        }
    } 
}