//!Mixins
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin text($size, $align: start) {
    font-size: $size;
    text-align: $align;
}

@mixin grid($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin aboslutePositioning($top: 50%, $left: 50%, $right: auto, $bottom: auto, $translateX: -50%, $translateY: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    transform: translate($translateX, $translateY);
}

@mixin transition($property, $duration, $timing) {
    transition: $property $duration $timing;
}

@mixin resetButton {
    border: none;
    outline: none;
}