@import url(../assets/fonts/Neothic/Neothic.css);
@import url(../assets/fonts/Roboto/Roboto.css);
.lightBackground {
  background-color: #fff;
  transition: background-color 0.4s ease;
}

.lightBackground.pointer:hover {
  background-color: #440bd4;
}

.lightText {
  color: #fff;
  transition: color 0.4s ease;
}

.lightBorder {
  border-color: #fff !important;
  transition: border-color 0.4s ease;
}

.darkBackground {
  background-color: #000;
  transition: background-color 0.4s ease;
}

.darkBackground.pointer:hover {
  background-color: #04005e;
}

.darkText {
  color: #000;
  transition: color 0.4s ease;
}

.noHighlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.darkBorder {
  border-color: #000 !important;
  transition: border-color 0.4s ease;
}

.neothic {
  font-family: "Neothic", serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.noDisplay {
  display: none !important;
}

.transparent {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #440bd4;
  color: #fff;
}

*::selection {
  background-color: #440bd4;
  color: #fff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8vmin;
}
body main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
nav div#backBtn ion-icon {
  font-size: 10vmin;
  text-align: center;
}
nav div#darkModeToggle {
  width: 14vmin;
  height: 7vmin;
  border-radius: 100vmin;
  border: 3px solid;
  position: relative;
}
nav div#darkModeToggle div#toggleCircle {
  width: 6.4vmin;
  height: 6.4vmin;
  border-radius: 100vmin;
  transition: all 0.4s ease;
}
nav div#darkModeToggle div#toggleCircle ion-icon {
  font-size: 5vmin;
  text-align: start;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
}
nav div#darkModeToggle div#toggleCircle.lightMode {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-105%, -50%);
}
nav div#darkModeToggle div#toggleCircle.darkMode {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(5%, -50%);
}

div.popup .popupContainer {
  width: 70vmin;
  height: 55vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
}
div.popup .popupContainer h2 {
  margin: 0;
}
div.popup .popupContainer button {
  border: none;
  outline: none;
}
div.popup .popupShadow {
  width: 70vmin;
  height: 55vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-45%, -43%);
  z-index: 5;
}

div#humanVsHumanPopupMessage div.popupContainer {
  gap: 7vmin;
}
div#humanVsHumanPopupMessage div.popupContainer div.playerNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30vmin;
  height: 15vmin;
  font-size: 5vmin;
  text-align: center;
  gap: 2vmin;
}
div#humanVsHumanPopupMessage div.popupContainer div.playerNameContainer h2 {
  font-size: 6vmin;
  text-align: center;
}
div#humanVsHumanPopupMessage div.popupContainer div.playerNameContainer .playerNameInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
div#humanVsHumanPopupMessage div.popupContainer div.playerNameContainer .playerNameInput input {
  width: 26.4vmin;
  height: 5vmin;
  font-size: 3vmin;
  text-align: start;
  text-align: center;
  border: 1px solid;
}
div#humanVsHumanPopupMessage div.popupContainer button {
  width: 55vmin;
  height: 15vmin;
}

div#humanVsComputerPopupMessage div.playerNameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 55vmin;
  height: 15vmin;
  font-size: 5vmin;
  text-align: center;
  gap: 2vmin;
}
div#humanVsComputerPopupMessage div.playerNameContainer h2 {
  font-size: 6vmin;
  text-align: center;
}
div#humanVsComputerPopupMessage div.playerNameContainer .playerNameInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
}
div#humanVsComputerPopupMessage div.playerNameContainer .playerNameInput input {
  width: 55vmin;
  height: 5vmin;
  font-size: 3vmin;
  text-align: start;
  text-align: center;
  border: 1px solid;
}
div#humanVsComputerPopupMessage button {
  width: 55vmin;
  height: 15vmin;
}

div#gameoverPopupMessage div.popupContainer h2 {
  font-size: 10vmin;
  text-align: center;
}
div#gameoverPopupMessage div.popupContainer div.popupButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3vmin;
}
div#gameoverPopupMessage div.popupContainer div.popupButtons button {
  width: 30vmin;
  height: 15vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#startGameSection > * {
  margin: 10vmin auto !important;
}

#startGameSection div#title {
  width: 85vmin;
  height: 85vmin;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}
#startGameSection div#title span {
  font-size: 25vmin;
  text-align: center;
}
#startGameSection button.startBtn {
  border: none;
  outline: none;
  width: 70vmin;
  height: 12vmin;
  margin: 1rem auto;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#startGameSection button.startBtn ion-icon {
  font-size: 7vmin;
  text-align: start;
}

#gameplaySection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
#gameplaySection #scoreboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6vmin;
}
#gameplaySection #scoreboardContainer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gameplaySection #scoreboardContainer > div > * {
  margin: 0;
}
#gameplaySection #scoreboardContainer #versusContainer {
  margin-bottom: 1.8rem;
}
#gameplaySection #scoreboardContainer .neothic {
  font-size: 20vmin;
  text-align: start;
}
#gameplaySection #scoreboardContainer .roboto {
  font-size: 4vmin;
  text-align: start;
  font-weight: 300;
}
#gameplaySection #scoreboardContainer .playerContainer {
  position: relative;
}
#gameplaySection #scoreboardContainer .playerContainer ion-icon {
  position: absolute;
  font-size: 6vmin;
  text-align: start;
  -webkit-animation: whoseTurnAnimation 0.4s infinite alternate ease;
          animation: whoseTurnAnimation 0.4s infinite alternate ease;
}
@-webkit-keyframes whoseTurnAnimation {
  0% {
    transform: translateY(-280%);
  }
  100% {
    transform: translateY(-300%);
  }
}
@keyframes whoseTurnAnimation {
  0% {
    transform: translateY(-280%);
  }
  100% {
    transform: translateY(-300%);
  }
}
#gameplaySection div#gameboard {
  width: 85vmin;
  height: 85vmin;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.4rem;
}

@media (min-width: 768px) {
  div.popup button {
    font-size: 4vmin;
  }
  #startGameSection > * {
    margin: 7vmin auto !important;
  }
  #startGameSection div#title {
    width: 66vmin;
    height: 65vmin;
  }
  #startGameSection div#title span {
    font-size: 15vmin;
    text-align: center;
  }
  #startGameSection button.startBtn {
    border: none;
    outline: none;
    width: 55vmin;
    height: 12vmin;
    margin: 1rem auto;
    gap: 2rem;
  }
  #gameplaySection {
    gap: 3rem;
  }
  #gameplaySection #scoreboardContainer .neothic {
    font-size: 15vmin;
    text-align: start;
  }
  #gameplaySection #scoreboardContainer .roboto {
    font-size: 3vmin;
    text-align: start;
    font-weight: 300;
  }
  #gameplaySection div#gameboard {
    width: 78vmin;
    height: 78vmin;
  }
}
@media (min-width: 1199.98px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  nav div#backBtn ion-icon {
    font-size: 7.5vmin;
    text-align: center;
  }
  nav div#darkModeToggle {
    width: 10vmin;
    height: 5vmin;
  }
  nav div#darkModeToggle div#toggleCircle {
    width: 4.8vmin;
    height: 4.8vmin;
  }
  nav div#darkModeToggle div#toggleCircle ion-icon {
    font-size: 3.5vmin;
    text-align: start;
  }
  #startGameSection > * {
    margin: 3vmin auto !important;
  }
  #startGameSection div#title {
    width: 45vmin;
    height: 45vmin;
  }
  #startGameSection div#title span {
    font-size: 13vmin;
    text-align: center;
  }
  #startGameSection button.startBtn {
    border: none;
    outline: none;
    width: 38vmin;
    height: 9vmin;
    margin: 2rem auto;
  }
  #startGameSection button.startBtn ion-icon {
    font-size: 5vmin;
    text-align: start;
  }
  #gameplaySection {
    gap: 3rem;
  }
  #gameplaySection #scoreboardContainer .neothic {
    font-size: 10vmin;
    text-align: start;
  }
  #gameplaySection #scoreboardContainer .roboto {
    font-size: 2vmin;
    text-align: start;
  }
  @-webkit-keyframes whoseTurnAnimation {
    0% {
      transform: translateY(-180%);
    }
    100% {
      transform: translateY(-200%);
    }
  }
  @keyframes whoseTurnAnimation {
    0% {
      transform: translateY(-180%);
    }
    100% {
      transform: translateY(-200%);
    }
  }
  #gameplaySection div#gameboard {
    width: 65vmin;
    height: 65vmin;
  }
}/*# sourceMappingURL=stylesheet.css.map */