//!This is a mobile first stylesheet

@import url(../assets/fonts/Neothic/Neothic.css);
@import url(../assets/fonts/Roboto/Roboto.css);
@import "mixins";

$light: #fff;
$lightHover: #440bd4;
$dark: #000;
$darkHover: #04005e;

//!Dark mode x Light mode styles
// Light mode styles
.lightBackground {
    background-color: $light;
    @include transition(background-color,0.4s,ease);
}

.lightBackground.pointer:hover {
    background-color: $lightHover;
}

.lightText {
    color: $light;
    @include transition(color,0.4s,ease);
}

.lightBorder {
    border-color: $light !important;
    @include transition(border-color,0.4s,ease);
} 

// Dark mode styles
.darkBackground {
    background-color: $dark;
    @include transition(background-color,0.4s,ease);
}

.darkBackground.pointer:hover {
    background-color: $darkHover;
}

.darkText {
    color: $dark;
    @include transition(color,0.4s,ease);
}

//this disables the annoying highlighting when clicking on a button in mobile
.noHighlights {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.darkBorder {
    border-color: $dark !important;
    @include transition(border-color,0.4s,ease);
}

//!Typography styles
.neothic {
    font-family: 'Neothic', serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

//!Misc
.noDisplay {
    display: none !important;
}

.transparent {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}





// Path: index.html
* {
    box-sizing: border-box;
}

*::selection {
    background-color: $lightHover;
    color: $light;
}

body {
    @include size(100vw, 100vh);
    @include flex(column, space-around, center);
    padding: 8vmin;

    main {
        @include size(100%, 100%);
        @include flex(column, center, center);
    }
}

//!Nav
nav {
    @include flex(row, space-between, center);
    align-self: stretch;

    div#backBtn {
        ion-icon {
            @include text(10vmin, center);
        }
    }

    div#darkModeToggle {
        @include size(14vmin, 7vmin);
        border-radius: 100vmin;
        border: 3px solid;
        position: relative;

        div#toggleCircle {
            @include size(6.4vmin, 6.4vmin);
            border-radius: 100vmin;
            @include transition(all,0.4s,ease);

            ion-icon {
                @include text(5vmin);
                @include absolutePositioning();
            }
        }
        div#toggleCircle.lightMode {
            @include absolutePositioning($translateX: -105%);
        }
        div#toggleCircle.darkMode {
            @include absolutePositioning($translateX: 5%);
        }
    }
}





//!Popup messages
div.popup {
    .popupContainer {
        @include size(70vmin, 55vmin);
        @include absolutePositioning();
        z-index: 10;
        border: 4px solid;
        @include flex(column, center, center);
        gap: 5vmin;

        h2 {
            @include text(10vmin, center);
            margin: 0;
        }

        div.popupButtons {
            @include flex(row, center, center);
            gap: 3vmin;

            button {
                @include resetButton();
                @include size(30vmin, 15vmin);
                @include flex(row, center, center);
                gap: 2rem;
            }
        }
    }
    .popupShadow {
        @include size(70vmin, 55vmin);
        @include absolutePositioning($translateX: -45%, $translateY: -43%);
        z-index: 5;
    }
}




//!Start Section
#startGameSection>* {
    margin: 10vmin auto !important;
}

#startGameSection {
    div#title {
        @include size(85vmin, 85vmin);
        @include grid(repeat(3, auto), repeat(3, auto));

        span {
            @include text(25vmin, center);
        }
    }

    button.startBtn {
        @include resetButton();
        @include size(70vmin, 12vmin);
        margin: 1rem auto;
        font-weight: 300;
        @include flex(row, center, center);
        gap: 2rem;

        ion-icon {
            @include text(7vmin);
        }
    }
}



//!Gameplay Section
#gameplaySection {
    @include flex(column, center, center);
    gap: 5rem;

    #scoreboardContainer {
        @include flex(row, center, center);
        gap: 6vmin;

        >div {
            @include flex(column, center, center);

            >* {
                margin: 0;
            }
        }

        #versusContainer {
            //This centers the 'versus' text in the middle of the two h2 elements intead of their div containers
            margin-bottom: 1.8rem;
        }

        .neothic {
            @include text(20vmin);
        }

        .roboto {
            @include text(4vmin);
            font-weight: 300;
        }

        .playerContainer {
            position: relative;

            ion-icon {
                position: absolute;
                @include text(6vmin);
                animation: whoseTurnAnimation 0.4s infinite alternate ease;
            }

            @keyframes whoseTurnAnimation {
                0% {
                    transform: translateY(-280%);
                }

                100% {
                    transform: translateY(-300%);
                }

            }
        }
    }

    div#gameboard {
        @include size(85vmin, 85vmin);
        @include grid(repeat(3, auto), repeat(3, auto));
        grid-gap: 0.4rem;
    }
}


//!Media queries for responsive design
@import "mediaqueries";